<%= provide(:title, "#{@book.title}") %>

<h1><%= @book.title %></h1>
<h3>By: <%= @book.author_first %> <%= @book.author_last %></h3>
<h3> Genre: <%= @book.genre.name %></h3>
<h3> All Reviews for <%= @book.title %>: </h3>
<% if @book.reviews.empty? %>
<h4>No reviews have been submitted for <%= @book.title %>.</h4>
<% end %>
<% @book.reviews.each do |br| %>
<ul>
  <li><%= link_to br.user.name, review_path(br) %></li>
</ul>
<% end %>

<br>
